

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  box-shadow: 0 2px 2px grey;
}
.form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  text-align: center;
}
.input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  font-size: 16px;
}
.button {
  width: 100%;
  padding: 12px;
  background-color: #db562e;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.toggle-button {
  margin-top: 20px;
  padding: 8px 15px;
  background-color: #35f11c;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.heading {
  margin-bottom: 20px;
}


